name: Build Microservices

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build common-dto
        run: mvn clean install -DskipTests
        working-directory: common-dto

      - name: Build Order Service
        run: mvn clean test
        working-directory: OrderService
